.card-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    margin: 50px 50px;
  }
  
  .card {
    margin: 50px 50px;
    height: 46vh;
    width: 35vh;
    border-radius: 13px;
    box-shadow: 20px 40px 33px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    background-color: hsl(103, 80%, 91%);
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 15vw;
    border-radius: 15px;
  }
  
  .card h2 {
    margin-top: 50px;
    font-size: 3.5vh;
  }
  
  .card p {
    font-size: 3vh;
    font-weight: 400px;
  }